<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-no-divider">Completed Tasks<span
                                    class="panel-subtitle"></span></div>
                            <div class="btn-group">
                                <button class="btn btn-primary" type="button" (click)="approved()">Approved</button>
                                <button class="btn btn-primary" type="button" (click)="rejected()">Rejected</button>
                                <button class="btn btn-primary" type="button" (click)="reviewFailed()">Review
                                    Failed</button>

                            </div>
                            <div class="form-group pull-right">

                                <input type="text" placeholder="Enter String to Filter..." class="form-control"
                                    [value]="search" (input)="search=$event.target.value">
                            </div>


                            <div class="table-responsive table1">
                                <h4 class="text-center">{{tableName}}</h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Customer Id</th>
                                            <th>Customer Name</th>
                                            <th>Loan Status</th>
                                            <th>Loan Type</th>
                                            <th>Loan Amount</th>
                                            <th>Applied on</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users | searchFilter:search | 

                    paginate:{itemsPerPage:10,currentPage:page,totalItems:itemsLength}; let i = index;">

                                            <td>{{user.customerId}}</td>
                                            <td>{{user.firstname}} {{user.lastname}}</td>
                                            <td>{{user.status}}</td>
                                            <td>{{user.loantype}}</td>

                                            <td>
                                                {{user.loanamount}}
                                            </td>
                                            <td>{{user.started_date | date:'fullDate'}}</td>


                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls class="text-center" (pageChange)="page=$event">
                                </pagination-controls>
                            </div>


                            <!-- <div class="table-responsive table2">
                                <h4 class="text-center">Review Failed Loan Requests</h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Customer Id</th>
                                            <th>Customer Name</th>
                                            <th>Loan Status</th>
                                            <th>Loan Type</th>
                                            <th>Loan Amount</th>
                                            <th>Applied on</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of reviewFailedCustomers | searchFilter:search | 

                    paginate:{itemsPerPage:5,currentPage:page2,totalItems:5};">

                                            <td>{{user.customerId}}</td>
                                            <td>{{user.firstname}} {{user.lastname}}</td>
                                            <td>{{user.status}}</td>
                                            <td>{{user.loantype}}</td>

                                            <td>
                                                {{user.loanamount}}
                                            </td>
                                            <td>{{user.started_date | date:'fullDate'}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls class="text-center" (pageChange)="page2=$event">
                                </pagination-controls>
                            </div> -->
                            <!-- <div class="form-group pull-right">
                                <label for="search">Enter String to Filter:</label>&nbsp;
                                <input type="text" placeholder="Enter String to Filter..." class="form-control"
                                    [value]="search" (input)="search=$event.target.value">
                            </div> -->

                            <!-- <div class="table-responsive table3">
                                <h4 class="text-center">Rejected Loan Requests</h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Customer Id</th>
                                            <th>Customer Name</th>
                                            <th>Loan Status</th>
                                            <th>Loan Type</th>
                                            <th>Loan Amount</th>
                                            <th>Applied on</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of  rejectedCustomers | searchFilter:search | 

                    paginate:{itemsPerPage:5,currentPage:page3,totalItems:5};">

                                            <td>{{user.customerId}}</td>
                                            <td>{{user.firstname}} {{user.lastname}}</td>
                                            <td>{{user.status}}</td>
                                            <td>{{user.loantype}}</td>

                                            <td>
                                                {{user.loanamount}}
                                            </td>
                                            <td>{{user.started_date | date:'fullDate'}}</td> -->
                            <!-- <td><button class="btn btn-success" [routerLink]="[i]">View</button></td>
                      <td><button class="btn btn-primary"
                          (click)="onShowDiagram(user.processInstanceId)">Diagram</button></td> -->
                            <!-- </tr>
                                    </tbody>
                                </table>
                                <pagination-controls class="text-center" (pageChange)="page3=$event">
                                </pagination-controls>
                            </div> -->



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>