<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-no-divider">Total Tasks<span class="panel-subtitle"></span></div>
              <!--  <app-load-spinner></app-load-spinner> -->
              <!-- <div *ngIf="showDiagram">
            <h3>The Image is </h3>
              <button class="btn btn-danger pull-right" (click)="onClose()">Close</button>
            <img [src]="imageUrl" class="image-responsive" />
          
          </div> -->

              <app-process-diagram [imgUrl]="imageUrl" *ngIf="imageUrl" (closeDiagram)="handleCloseDiagram()">
              </app-process-diagram>

              <!-- <div class="pull-left">
                <button class="btn btn-primary" (click)="fetchNewUsers()">Update List</button>
                
              </div> -->


              <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-inline col-lg-8 col-md-6 pull-left"
                style="border: 1px solid red;">
                <label for="dateRange">Select Date Range</label>
                <div class="form-group">

                  <input type="date" name="start" class="form-control" placeholder="start" ngModel>
                </div>
                <div class="form-group">

                  <input type="date" name="end" class="form-control" placeholder="end" ngModel>
                </div>
                <div class="form-group">
                  <button class="btn btn-success" type="submit" [disabled]="!f.valid"> Search</button>|
                  <button class="btn btn-warning" type="button" (click)="onReset()"> Reset</button>
                </div>
              </form> -->


              <div class="form-group pull-right" style="border-radius: 8px; overflow: hidden;">
                <!-- <label for=" search">Enter String to Filter:</label>&nbsp; -->
                <input type="text" placeholder="Enter String to Filter..." class="form-control" [value]="search"
                  (input)="search=$event.target.value">
              </div>

              <div class="pull-right" style="margin-right: 10px;border-radius: 10px;">
                <div class="btn-group" dropdown [autoClose]="false" #dropdown="bs-dropdown">
                  <button dropdownToggle type="button" class="btn btn-success dropdown-toggle">Select Date Range
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <!-- <li role="menuitem"><a class="dropdown-item" href="#">Current
                        Month</a>
                    </li> -->
                    <div role="menuitem">
                      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="dropdown-item">
                        <label for="dateRange">Select Date Range</label>
                        <div class="form-group">

                          <input type="date" name="start" class="form-control" placeholder="start" ngModel>
                        </div>
                        <div class="form-group">

                          <input type="date" name="end" class="form-control" placeholder="end" ngModel>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-success" type="submit" [disabled]="!f.valid"> Search</button>|
                          <button class="btn btn-warning" type="button" (click)="onReset()"> Reset</button>
                        </div>
                      </form>

                    </div>

                  </ul>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Customer Id</th>
                      <th>Customer Name</th>
                      <th>Loan Status</th>
                      <th>Loan Type</th>
                      <th>Loan Amount</th>
                      <th>Applied on</th>
                      <th>Action</th>
                      <th>FLow Diagram</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users | searchFilter:search | 

                    paginate:{itemsPerPage:10,currentPage:page,totalItems:totalItems}; let i = index">

                      <td>{{user.customerId}}</td>
                      <td>{{user.firstname}} {{user.lastname}}</td>
                      <td>{{user.status}}</td>
                      <td>{{user.loantype}}</td>

                      <td>
                        {{user.loanamount}}
                      </td>
                      <td>{{user.started_date | date:'fullDate'}}</td>
                      <td><button class="btn btn-success" [routerLink]="[i]">View</button></td>
                      <td><button class="btn btn-primary"
                          (click)="onShowDiagram(user.processInstanceId)">Diagram</button></td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls class="text-center" (pageChange)="page=$event"></pagination-controls>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>