<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu">

        <li class="user-pro">
            <a href="#" class="text-center">
                <div class="profile-img">
                    <img src="assets/images/profile.jpg" />
                </div>
                <span>Sunil</span>
                <small class="text-center">Manager</small>
                <small class="text-center">User ID : {{userID}}</small>
            </a>
        </li>
        <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="waves-effect"><i
                    class="fa fa-home"></i> <span class="hide-menu">Dashboard</span></a></li>

        <li>
            <a [routerLink]="['/forms']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">Apply Loan</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/tables']" [routerLinkActive]="['active']">
                <i class="fa fa-bars"></i>
                <span class="hide-menu">MyTasks</span>
            </a>
        </li>
        <li>
            <a (click)="signOut()" style="cursor:pointer;">
                <i class="fa fa-sign-out"></i>
                <span class="hide-menu">LogOut</span>
            </a>
        </li>

    </ul>
</div>